.margin-top-10 {
  margin-top: 10px;
}

hr {
  margin-top: 12px;
  margin-bottom: 12px;
}

h4 {
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
  color: #084b8a;
}

a:hover {
  text-decoration: none;
}

a.btn-link {
  font-size: 14px;
}

a.btn-link:hover,
a.btn-link:focus {
  text-decoration: none;
}

.thumb-pic {
  display: block;
  background-color: #dedede;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
}

.thumb-pic.visible-sm {
  height: 200px;
}

.thumb-pic.visible-md {
  height: 160px;
}

.thumb-pic.visible-lg {
  height: 260px;
}

.info-icono {
  display: inline-block;
  margin-top: 10px;
  margin-left: 12px;
  font-size: 17px;
}

.negritas {
  color: #000000;
  font-weight: bold;
  font-size: 16px;
}

.focus {
  cursor: pointer;
}

.resumen {
  white-space: pre-wrap;
  height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}
