<div class="thumbnail">
  <img class="focus" src="assets/images/12.jpg" routerLink="/inmueble/{{inmueble.id}}">
  <div class="caption">
    <h4 class="focus" routerLink="/inmueble/{{inmueble.id}}">{{inmueble.encabezado}}</h4>
    <hr />
    <div class="row negritas">
      <div class="col-xs-8">$ {{inmueble.precio | number : '1.2-2'}}</div>
      <div class="col-xs-4 text-right">{{inmueble.servicio}}</div>
    </div>
    <hr />
    <div class="row">
      <h4 class="col-xs-5">
        <i class="fa fa-fw fa-location-arrow" aria-hidden="true"></i> {{inmueble.ubicacion}}</h4>
      <div class="col-xs-7 text-right">
        <div class="info-icono">
          <i class="fa fa-bath"></i> 2</div>
        <div class="info-icono">
          <i class="fa fa-bed"></i> 2</div>
      </div>
    </div>
    <p class="text-justify margin-top-10">{{inmueble.resumen}}</p>
    <hr />
    <a class="btn btn-xs btn-link pull-right" routerLink="/inmueble/{{inmueble.id}}">
      <i class="fa fa-fw fa-info-circle"></i> Más información</a>
    <i class="fa fa-fw fa-facebook-official pull-left" title="Comparte esta propiedad en Facebook"></i>
    <div class="clearfix"></div>
  </div>
</div>