<div class="thumbnail">
  <a class="thumb-pic visible-xs" routerLink="../inmueble/{{inmueble.id}}">
    <img class="focus" *ngIf="fotoPrincipal !== ''" src="{{fotoPrincipal}}">
  </a>
  <a class="thumb-pic visible-sm" routerLink="../inmueble/{{inmueble.id}}" [ngStyle]="{ 'background-image': 'url('+ fotoPrincipal + ')' }"></a>
  <a class="thumb-pic visible-md" routerLink="../inmueble/{{inmueble.id}}" [ngStyle]="{ 'background-image': 'url('+ fotoPrincipal + ')' }"></a>
  <a class="thumb-pic visible-lg" routerLink="../inmueble/{{inmueble.id}}" [ngStyle]="{ 'background-image': 'url('+ fotoPrincipal + ')' }"></a>

  <div class="caption">
    <a routerLink="../inmueble/{{inmueble.id}}">
      <h4 class="focus" title="{{inmueble.encabezado}}">{{inmueble.encabezado}}</h4>
    </a>
    <hr />
    <div class="row negritas">
      <div class="col-xs-8"> ${{inmueble.precio | number : '1.2-2'}}</div>
      <div class="col-xs-4 text-right">{{inmueble.servicio}}</div>
    </div>
    <hr />
    <div class="row">
      <h4 class="col-xs-5">
        <i class="fa fa-fw fa-location-arrow" aria-hidden="true"></i> {{inmueble.ubicacion}}</h4>
      <div class="col-xs-7 text-right">
        <div class="info-icono" *ngIf="inmueble.banos > 0">
          <i class="fa fa-bath"></i> {{inmueble.banos}}
        </div>
        <div class="info-icono" *ngIf="inmueble.habitaciones > 0">
          <i class="fa fa-bed"></i> {{inmueble.habitaciones}}
        </div>
      </div>
    </div>
    <p class="text-justify margin-top-10 resumen">{{inmueble.resumen}}</p>
    <hr />
    <a class="btn btn-xs btn-link pull-right" routerLink="../inmueble/{{inmueble.id}}">
      <i class="fa fa-fw fa-info-circle"></i> Más información
    </a>
    <app-fb-sharer [inmueble]="inmueble"></app-fb-sharer>
    <div class="clearfix"></div>
  </div>
</div>