<div class="detalle-container">
  <div *ngIf="d">
    <div class="row detalle-header hidden-xs">
      <div class="col-sm-10">
        <h1 id="detalleEncabezado"> {{d.encabezado}} </h1>
      </div>
      <div class="col-sm-2 text-right text-muted folio-contenedor">
        <h4>Folio: {{d.id}}</h4>
        <app-fb-sharer [inmueble]="d" modalidad="detalle-lg"></app-fb-sharer>
      </div>
    </div>

    <div class="row detalle-header visible-xs">
      <hr />
      <div class="col-sm-12">
        <h2> {{d.encabezado}} </h2>
      </div>
      <div class="col-sm-12 text-muted folio-contenedor">
        <app-fb-sharer [inmueble]="d" modalidad="detalle-xs"></app-fb-sharer>
        <h3>Folio: {{d.id}}</h3>
      </div>
    </div>

    <ng-container *ngIf="galeria.length > 0">
      <modal-gallery [modalImages]="galeria" [description]="{imageText: 'Foto ', numberSeparator: ' de '}" class="galeria"></modal-gallery>
    </ng-container>
    <hr />

    <div class="row hidden-xs hidden-sm marginBottom10">
      <div class="col-sm-5">
        <h3 class="info-header">{{d.servicio}}: ${{d.precio | number : '1.2-2'}} </h3>
      </div>
      <div *ngIf="d.habitaciones > 0" [ngClass]="{ 'col-sm-1': d.habitaciones > 0 && d.banos > 0, 'col-sm-2': d.habitaciones > 1 || d.banos === 0 }">
        <h3 class="text-center info-header nw">

          <i class="fa fa-bed"></i> {{d.habitaciones}}
        </h3>
      </div>
      <div *ngIf="d.banos > 0" [ngClass]="{ 'col-sm-1': d.banos > 0 && d.habitaciones > 0, 'col-sm-2': d.banos > 1 || d.habitaciones === 0 }">
        <h3 class="text-center info-header nw">
          <i class="fa fa-fw fa-bath"></i> {{d.banos}}
        </h3>
      </div>
      <div class="col-sm-5" [ngClass]="{ 'col-sm-offset-2': d.habitaciones === 0 && d.banos === 0 }">
        <h3 class="text-right info-header">
          <i class="fa fa-fw fa-location-arrow"></i>{{d.ubicacion}}</h3>
      </div>
    </div>

    <div class="row visible-xs visible-sm">
      <div class="col-xs-12">
        <h3 class="info-header text-center">{{d.servicio}}: ${{d.precio | number : '1.2-2'}} </h3>
      </div>
      <div *ngIf="d.habitaciones > 0" class="col-xs-6">
        <h3 class="text-center info-header nw" title="Cantidad de habitaciones">
          <i class="fa fa-bed"></i> {{d.habitaciones}} habitaciones
        </h3>
      </div>
      <div *ngIf="d.banos > 0" class="col-xs-6">
        <h3 class="text-center info-header nw" title="Cantidad de baños">
          <i class="fa fa-fw fa-bath"></i> {{d.banos}} baños
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 visible-xs visible-sm">
        <h3 class="info-header">
          <i class="fa fa-fw fa-location-arrow"></i> {{d.ubicacion}}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h4 *ngIf="d.direccion.trim().length > 0">Dirección: {{d.direccion}}</h4>
        <div>
          <h4 *ngIf="d.metros > 0">Dimensiones: {{d.metros | number}} m2</h4>
          <hr>
          <div class="descripcion" [innerHTML]="d.descripcion | safeHtml"></div>
        </div>
      </div>
      <hr>
      <div class="map col-xs-12" *ngIf="d.coordenadas && d.coordenadas.trim() !== ''">
        <hr>
        <ngui-map [center]="map.center" zoom="18">
          <marker [position]="map.marker"></marker>
        </ngui-map>
      </div>
    </div>
    <div>
      <hr>
      <h3>Solicita más información</h3>
      <p>Contáctenos llenando el siguiente formulario: </p>
      <div *ngIf="enviado">
        <div class="alert alert-success">
          <i class="fa fa-fw fa-check"></i> Tu mensaje ha sido enviado. Pronto nos pondremos en contacto con usted.</div>
      </div>
      <form class="form-horizontal" [formGroup]="form" (ngSubmit)="enviarContacto($event)" [hidden]="enviado">
        <div formGroupName="informacion">
          <div class="form-group">
            <label class="col-sm-offset-1 col-sm-2 control-label" for="nombre">Nombre</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="nombre" name="nombre" required formControlName="nombre" [(ngModel)]="formData.nombre">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-offset-1 col-sm-2 control-label" for="email">Email</label>
            <div class="col-sm-6">
              <input type="email" class="form-control" id="email" name="email" required formControlName="email" [(ngModel)]="formData.email">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-offset-1 col-sm-2 control-label" for="telefono">Teléfono</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="telefono" name="telefono" required formControlName="telefono" [(ngModel)]="formData.telefono">
            </div>
          </div>
          <div class="form-group">
            <label for="mensaje" class="col-sm-offset-1 col-sm-2 control-label">Mensaje</label>
            <div class="col-sm-6">
              <textarea class="form-control input-sm" id="mensaje" name="mensaje" required formControlName="mensaje" [(ngModel)]="formData.mensaje"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-offset-1 col-sm-8 text-center">
              <button type="submit" class="btn btn-default" [disabled]="enviandoContacto">
                <i class="fa fa-fw fa-envelope"></i> Solicitar información de este inmueble</button>
            </div>
          </div>
        </div>
      </form>
      <hr>
    </div>
    <div class="row">
      <div class="col-md-12">
        <a class="btn btn-primary pull-right" target="_new" href="{{sitePath}}pdf/{{d.id}}.html">
          <i class="fa fa-fw fa-file-pdf-o"></i>
          Descargar información en PDF
        </a>
      </div>
    </div>
    <div class="alert alert-danger" *ngIf="error">
      <i class="fa fa-fw fa-exclamation-triangle"></i> El inmueble solicitado no se encuentra disponible.
    </div>
  </div>