.detalle-header {
    margin-top: 20px;
    margin-bottom: 10px;
}

h1, h3.info-header, h4 {
    margin-top: 0;
}

.galeria .ng-gallery {
    max-height: 298px;
    overflow: auto;
    border-radius: 4px;
    text-align: center;
    background: #f3f3f3;
}

.galeria .ng-gallery div {
    display: inline-block;
    height: 118px;
    border: 2px solid #d6d6d6;
    background: #d6d6d6;
    margin: 10px;
}

.galeria .ng-gallery .ng-thumb  {
    max-width: 100%;
    max-height:100%;
    display: inline-block;
    margin: 0 auto;
    vertical-align: middle;
    height: inherit;
    float: none;
}

.map ngui-map {
    min-height: 500px;
}

.folio-contenedor h4 {
    margin-bottom: 6px;
}

.btn-facebook {
    overflow: auto;
}

.btn-facebook.hidden-lg .btn {
    padding-top: 3px;
    padding-bottom: 3px;
}

.btn-facebook.hidden-lg .fa {
    font-size: 24px;
}