<div class="container bordered">
  <nav class="navbar navbar-inverse">
    <div>
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><i class="fa fa-home" aria-hidden="true"></i>
          ONZA MOBILIARIA</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="./acercade/acercade.tempalte.html"><i class="fa fa-info" aria-hidden="true"></i>
            Acerca De</a></li>
          <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i>
             Contacto</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="row">
    <div class="col-sm-3 bordered">
      <app-filtros></app-filtros>
    </div>
    <div class="col-sm-9 bordered">
      <app-home></app-home>
    </div>
  </div>
  <footer>
    <hr /> Hola, Jason1!!
  </footer>
</div>