footer {
    padding: 30px;   
    background: #f3f3f3;
    color: #363636;
}

footer a {
    text-decoration: none;
}

footer h4 {
    margin-top: 0;
}

/*
div < Es un tag
.algo < "algo" es una clase
#objetoUnico < "objetoUnico" es un "id" de algún objeto del DOM
*/