<div class="container-fluid header-logo">
    <div class="container">
        <header>
            <div class="header-main-items">
                <div class="logo"></div>
                <div class="header-items">
                    <div class="header-item"><a href="#"><i class="fa fa-fw fa-building"></i> Buscar inmuebles</a></div>
                    <div class="header-item"><a href="#"><i class="fa fa-fw fa-info"></i> Acerca de ONZA</a></div>
                    <div class="header-item"><a href="#"><i class="fa fa-fw fa-user"></i> Contacto</a></div>
                </div>
            </div>
        </header>
    </div>
</div>
<div class="container-fluid header-buscador">
    <div class="container">
        <app-filtros></app-filtros>
    </div>
</div>
<div id="overlay"></div>
<div class="container margin-mosaico">
    <router-outlet></router-outlet>
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div><i>Copyright &#169; 2017 <b>OnzaInmobiliaria.com</b></i></div>
                <div>Calle 5e No. 444 por 48 y 46. Residencial Pensiones. Merida, Yucatán, México</div>
            </div>
            <div class="col-md-5 text-right">
                <div>
                    <h4><a href="pagina de contacto">Contáctanos</a></h4>
                </div>
                <div>9991 98 20 36 <i class="fa fa-fw fa-phone"></i></div>
                <div><a href="#">OnzaInmobiliaria <i class="fa fa-fw fa-facebook-official"></i></a></div>
                <div><a href="#">onzainmobiliaria@hotmail.com <i class="fa fa-fw fa-envelope"></i></a></div>

            </div>
        </div>
    </div>
</footer>