<h3>Busca tu casa ideal</h3>
<div class="form-group">
    <label>Palabras clave</label>
    <div>
        <p-chips [(ngModel)]="palabras"></p-chips>
    </div>
</div>

<div class="form-group">
    <label>Tipo de servicio</label>
    <div class="checkbox">
        <p-checkbox name="groupname" value="val1" label="Renta" [(ngModel)]="selectedValues"></p-checkbox>
    </div>
    <div class="checkbox">
        <p-checkbox name="groupname" value="val2" label="Venta" [(ngModel)]="selectedValues"></p-checkbox>
    </div>
</div>

<div class="form-group">
    <label>Tipo de inmueble</label>
    <div>
        <angular2-multiselect [data]="tipos" [(ngModel)]="selectedTipos" [settings]="dropdownSettings"></angular2-multiselect>
    </div>
</div>

<div class="form-group">
    <label>Ubicación</label>
    <div>
        <angular2-multiselect [data]="ubicacion" [(ngModel)]="selectedUbicacion" [settings]="dropdownSettings"></angular2-multiselect>
    </div>
</div>

<div class="form-group">
    <label>Rango de precios</label>
    <div class="rango-de-precios">{{rangoPrecios[0] + ' - ' + rangoPrecios[1]}}</div>
    <p-slider [(ngModel)]="rangoPrecios" [range]="true" [min]="500" [max]="2000" [step]="500" (onChange)="rangoSeleccionado($event)"></p-slider>
</div>

<div class="form-group">
    <label>Baños</label>
    <div class="rango-de-precios">{{numeroBanos[0] + ' - ' + numeroBanos[1]}}</div>
    <p-slider [(ngModel)]="numeroBanos" [range]="true" [min]="1" [max]="10" [step]="1" (onChange)="banoSeleccionado($event)"></p-slider>
</div>

<div class="form-group">
    <label>Habitaciones</label>
    <div class="rango-de-precios">{{numeroHabitaciones[0] + ' - ' + numeroHabitaciones[1]}}</div>
    <p-slider [(ngModel)]="numeroHabitaciones" [range]="true" [min]="1" [max]="15" [step]="1" (onChange)="cuartoSeleccionado($event)"></p-slider>
</div>