body.filter-active {
  overflow: hidden;
}

#filtros {
  position: relative;
}

.filtros {
  height: 48px;
  display: flex;
}

.buscador {
  display: flex;
  align-content: space-around;
}

.buscador input {
  /* display: inline-block; */
  border: none;
  height: 100%;
  width: 322px;
  padding: 10px;
  color: gray;
}

.buscador button {
  height: 100%;
  /* display: inline-block; */
  border: none;
  margin: 0;
  width: 50px;
  background: #084B8A;
  color: white
}

.buscador button:hover {
  background: #1968B3;
}

.opciones {

}

.opciones ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-content: flex-end;
  height: 100%;
}

.opciones li {
  cursor: pointer;
  height: 100%;
  /* padding: 12px 36px; */
  color: #ececec;
  border-right: 1px solid #bababa;
  transition: all .3s linear;
  font-size: 1.2em;
}

.opciones li:hover {
  background-color: gray;
}

#menu {
  /* display: none; */
  height: 0;
  margin-top: -1px;
  /* opacity: 0; */
  transition: all .2s linear;
  overflow: hidden;
}

#menu.showing {
  /* opacity: 1; */
  /* display: block; */
  overflow: inherit;
}

.menu {
  height: 0;
  overflow: hidden;
  margin-top: 2px;
  padding: 10px;
  /* display: none; */
  /* opacity: 0; */
  transition: all .2s linear;
  position: relative;
  z-index: 3;
}

.menu.showing {
  /* display: block; */
  /* opacity: 1; */
  height: 300px;
  background: white;
}

.menu h3 {
  margin: 0;
}

.opcion-boton {
  padding: 12px 50px;
}

.menu-header {
  border-bottom: 1px solid #efefef;
  margin-bottom: 14px;
  padding-bottom: 8px;
}

.menu-header .btn-container {
  margin-top: -2px;
}