body.filter-active {
  overflow: hidden;
}

.header-buscador {
  background-color: #8C94A0;
}

#filtros {
  position: relative;
}

.filtros {
  height: 48px;
  display: flex;
}

.buscador {
  display: flex;
  align-content: space-around;
  max-width: 319px;
}

.buscador input {
  border: none;
  height: 100%;
  width: 269px;
  padding: 10px;
  color: gray;
}

.buscador button {
  height: 100%;
  border: none;
  margin: 0;
  width: 50px;
  background: #084B8A;
  color: white;
  border-radius: 0;
}

.buscador button:hover {
  background: #1968B3;
}

.buscador input:focus,
.buscador button:focus {
  outline: none;
}

.opciones {
  width: calc(100% - 320px);
}

.opciones ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-content: flex-end;
  height: 100%;
}

.opciones li {
  cursor: pointer;
  height: 100%;
  color: #ececec;
  border-right: 1px solid #bababa;
  transition: all .3s linear;
  font-size: 1.2em;
  min-width: 20%;
}

.opciones li:hover {
  background-color: gray;
}

.filtros-contenedor.visible-xs.visible-sm .buscador {
  width: 80%;
  max-width: inherit;
}

.filtros-contenedor.visible-xs.visible-sm .buscador input {
  width: calc(100% - 50px);
}

.filtros-contenedor.visible-xs.visible-sm .opciones {
  width: 20%;
}

.filtros-contenedor.visible-xs.visible-sm .opciones li {
  width: 100%;
}

.opciones-sm {
  height: 34px;
}

.opciones-sm .opciones {
  width: 100% !important;
  border-bottom: 1px solid #bababa;
  border-left: 1px solid #bababa;
  background-color: #084B8A;
}

.opciones-sm .opciones .opcion-boton {
  padding: 6px;
  font-size: 14px;
}

.opcion-boton .fa {
  margin-right: 6px;
}

#filtros {
  position: relative;
}

#menu {
  height: 0;
  margin-top: -2px;
  transition: all .2s linear;
  overflow: hidden;
  display: none;
}

#menu.showing {
  overflow: inherit;
  display: block;
}

.menu {
  height: 0;
  overflow: hidden;
  padding: 0 10px 10px 10px;
  transition: all .2s linear;
  position: relative;
  z-index: 3;
}

.menu.showing {
  height: 284px;
  background: white;
}

.menu h3 {
  margin: 0;
}

.opcion-boton {
  padding: 12px 6px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 1px;
}

.menu-header {
  border-bottom: 1px solid #efefef;
  margin-bottom: 14px;
  padding: 8px 0;
}

.menu-container {
  height: 230px;
  overflow: auto;
}

.menu-container .row {
  margin: 0;
}

.menu-container .form-group {
  font-size: 15px;
}

.menu-container .checkbox {
  margin: 3px 0 3px 0;
  display: inline-block;
  width: 50%;
}

.menu-container .checkbox:hover {
  color: #084B8A;
}

.menu-container .checkbox label {
  padding-left: 10px;
  width: 70%;
  margin: 0;
}

.menu-header .btn-container {
  margin-top: -2px;
}

.menu-container .input-sm {
  width: 100px;
}

.columna3 .form-inline {
  margin-bottom: 14px;
}

.columna3 .form-control {
  display: inline-block;
}

.toggleBox {
  margin-right: 6px !important;
}
