h3 {
    margin-top: 0;
}

.checkbox {
    margin-top: 0;
}

.servicio {
    border: 1px solid;
}

angular2-multiselect.selector .cuppa-dropdown .selected-list .c-btn {
    box-shadow: none;
    padding: 6px 10px;
}

angular2-multiselect.selector .cuppa-dropdown .selected-list .c-btn .fa.fa-angle-down,
angular2-multiselect.selector .cuppa-dropdown .selected-list .c-btn .fa.fa-angle-up {
    top: 4px;
}

angular2-multiselect.selector .cuppa-dropdown .selected-list .c-btn .c-list .c-token {
    background: #101010;
    font-size: 12px;
    margin-top: 1px;
    margin-bottom: 1px;
}

angular2-multiselect.selector .cuppa-dropdown .dropdown-list .list-area {
    border: 1px solid #ccc;
    background: #f3f3f3;
    box-shadow: none;
}

angular2-multiselect.selector .cuppa-dropdown .dropdown-list .arrow-up {
    border-bottom-color: #ccc !important;
}

angular2-multiselect.selector .cuppa-dropdown .dropdown-list .list-area .pure-checkbox label {
    font-weight: normal;
    font-size: 13px;
}

angular2-multiselect.selector .cuppa-dropdown .dropdown-list .list-area .pure-checkbox label::before{
    border-color: #A1A1A1 !important;
}

angular2-multiselect.selector .cuppa-dropdown .dropdown-list .list-area ul .pure-checkbox {
    padding: 4px 10px;
}

angular2-multiselect.selector .cuppa-dropdown .dropdown-list .list-area .pure-checkbox.select-all input:checked + label::before,
angular2-multiselect.selector .cuppa-dropdown .dropdown-list .list-area ul .pure-checkbox input:checked + label::before {
    background: #101010;
}