<div id="filtros" class="row">
  <div class="col-sm-12 filtros">
    <div class="buscador">
      <input placeholder="Ubicación, número de cuartos o habitaciones" />
      <button>
        <i class="fa fa-search"></i>
      </button>
    </div>
    <div class="opciones">
      <ul>
        <li>
          <div class="opcion-boton" (click)="showDialog('mision')">Misión</div>
          <div class="opcion-componente">
          </div>
        </li>
        <li>
          <div class="opcion-boton" (click)="showDialog('vision')">Visión
          </div>
          <div class="opcion-componente">
          </div>
        </li>
        <li>
          <div class="opcion-boton" (click)="showDialog('contacto')">Contacto
          </div>
        </li>
        <li (click)="mostrarMenu()">
          <div class="opcion-boton">Filtros
            <i class="fa fa-fw fa-plus"></i>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-sm-12" id="menu" [ngClass]="{ 'showing': menuDisplay.showing }">
    <div class="menu" [ngClass]="{ 'showing': menuDisplay.showing }">
      <div class="row menu-header">
        <div class="col-md-6">
          <h3>Personaliza tu búsqueda</h3>
        </div>
        <div class="col-md-6 text-right btn-container">
          <button class="btn btn-sm btn-primary">
            <i class="fa fa-fw fa-check"></i> Aplicar búsqueda</button>
          <button class="btn btn-sm btn-danger">
            <i class="fa fa-fw fa-window-close"></i>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>Tipo de servicio</label>
            <div class="checkbox">
              <p-checkbox name="groupname" value="val1" label="Renta" [(ngModel)]="selectedValues"></p-checkbox>
            </div>
            <div class="checkbox">
              <p-checkbox name="groupname" value="val2" label="Venta" [(ngModel)]="selectedValues"></p-checkbox>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Ubicación</label>
            <div>
              <angular2-multiselect [data]="ubicacion" [(ngModel)]="selectedUbicacion" [settings]="dropdownSettings"></angular2-multiselect>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Baños</label>
            <div class="rango-de-precios">{{numeroBanos[0] + ' - ' + numeroBanos[1]}}</div>
            <p-slider [(ngModel)]="numeroBanos" [range]="true" [min]="1" [max]="10" [step]="1" (onChange)="banoSeleccionado($event)"></p-slider>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>Tipo de inmueble</label>
            <div>
              <angular2-multiselect [data]="tipos" [(ngModel)]="selectedTipos" [settings]="dropdownSettings"></angular2-multiselect>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Rango de precios</label>
            <div class="rango-de-precios">{{rangoPrecios[0] + ' - ' + rangoPrecios[1]}}</div>
            <p-slider [(ngModel)]="rangoPrecios" [range]="true" [min]="500" [max]="2000" [step]="500" (onChange)="rangoSeleccionado($event)"></p-slider>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Habitaciones</label>
            <div class="rango-de-precios">{{numeroHabitaciones[0] + ' - ' + numeroHabitaciones[1]}}</div>
            <p-slider [(ngModel)]="numeroHabitaciones" [range]="true" [min]="1" [max]="15" [step]="1" (onChange)="cuartoSeleccionado($event)"></p-slider>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog header="Misión" [(visible)]="display.mision" [width]="500" [height]="auto">
  Home es una página web dedicada al mundo de la gestión empresarial, enfocada a principalmente al sector de la calidad, e
  incluyendo también contenidos sobre medio ambiente, prevención de riesgos laborales, responsabilidad social corporativa,
  organización industrial, coaching, etc. Los contenidos, noticias y publicaciones de la web están enfocados tanto a profesionales
  de sector como a estudiantes y personas interesadas en el tema, del mismo modo, el foro está pensado para servir como un
  lugar de encuentro donde poder compartir información y resolver dudas acerca de todos los temas mencionados anteriormente.
</p-dialog>

<p-dialog header="Visión" [(visible)]="display.vision" [width]="500" [height]="auto">
  PDCA Home busca ser un lugar de referencia para profesionales e interesados en temas relacionados con la calidad y la gestión
  empresarial, buscando ofrecer todo tipo de artículos, noticias y herramientas que permitan a nuestros usuarios acceder
  a toda la información que necesiten de forma rápida y gratuita.
</p-dialog>

<p-dialog header="Contacto" [(visible)]="display.contacto" [width]="500" [height]="auto">
  Calle 5-E #444 x 48.
  <br>Residencial Pensiones.
  <br> Teléfonos: 9992701289-99921558
  <br>
  <strong>e.ontiveros@onzainmobiliaria.com</strong>
  <br>
  <strong>k.vallejo@onzainmobiliaria.com</strong>
  <hr>
  <div>
    <h3>UBÍCANOS</h3>
    <p-gmap [options]="mapOptions" [overlays]="mapMarcador" [style]="{'width':'100%','height':'400px'}"></p-gmap>
  </div>
</p-dialog>