<div id="filtros">
  <div class="row filtros-contenedor hidden-xs hidden-sm">
    <div class="col-sm-12 filtros">
      <form class="buscador" (onsubmit)="buscar($event)">
        <input placeholder="Ubicación, número de cuartos o baños" name="palabras" [(ngModel)]="palabras" />
        <button (click)="buscar()">
          <i class="fa fa-search"></i>
        </button>
      </form>
      <div class="opciones">
        <ul>
          <li (click)="mostrarMenu()">
            <div class="opcion-boton">
              <i class="fa fa-fw fa-plus"></i>
              Filtros
            </div>
          </li>
          <li>
            <div class="opcion-boton" (click)="showDialog('conocenos')">Conócenos</div>
          </li>
          <li>
            <div class="opcion-boton" (click)="showDialog('servicios')">Servicios</div>
          </li>
          <li>
            <div class="opcion-boton" (click)="showDialog('preguntas')">Preguntas </div>
          </li>
          <li>
            <div class="opcion-boton" (click)="showDialog('contacto')">Contacto </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row filtros-contenedor visible-xs visible-sm">
    <div class="col-sm-12 filtros opciones-sm">
      <div class="opciones">
        <ul>
          <li>
            <div class="opcion-boton" (click)="showDialog('conocenos')">
              <i class="fa fa-fw fa-building"></i> Conócenos</div>
          </li>
          <li>
            <div class="opcion-boton" (click)="showDialog('servicios')">
              <i class="fa fa-fw fa-handshake-o"></i> Servicios</div>
          </li>
          <li>
            <div class="opcion-boton" (click)="showDialog('preguntas')">
              <i class="fa fa-fw fa-question-circle"></i> Preguntas</div>
          </li>
          <li>
            <div class="opcion-boton" (click)="showDialog('contacto')">
              <i class="fa fa-fw fa-phone"></i> Contacto</div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-12 filtros">
      <form class="buscador" (onsubmit)="buscar($event)">
        <input placeholder="Ubicación, número de cuartos o baños" name="palabras" [(ngModel)]="palabras" />
        <button (click)="buscar()">
          <i class="fa fa-search"></i>
        </button>
      </form>
      <div class="opciones">
        <ul>
          <li (click)="mostrarMenu()">
            <div class="opcion-boton">
              <i class="fa fa-fw fa-plus"></i>
              Filtros
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div id="menu" [ngClass]="{ 'showing': menuDisplay.showing }">
    <div class="menu" [ngClass]="{ 'showing': menuDisplay.showing }">
      <div class="row menu-header">
        <div class="col-xs-7">
          <h3>Personaliza tu búsqueda</h3>
        </div>
        <div class="col-xs-5 text-right btn-container">
          <button class="btn btn-sm btn-primary" (click)="buscar()">
            <i class="fa fa-fw fa-check"></i> Aplicar búsqueda</button>
          <button class="btn btn-sm btn-danger" (click)="mostrarMenu()">
            <i class="fa fa-fw fa-window-close"></i>
          </button>
        </div>
      </div>
      <div class="menu-container">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <div>
                <input id="ck-tipo" type="checkbox" class="toggleBox" (click)="seleccionarTodo('tipos', $event)">
                <label for="ck-tipo">Tipo de inmueble</label>
              </div>
              <div class="checkbox" *ngFor="let op of tipos">
                <p-checkbox name="tipos" [value]="op" [label]="op" [(ngModel)]="selectedTipos"></p-checkbox>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <div>
                <input id="ck-serv" type="checkbox" class="toggleBox" (click)="seleccionarTodo('servicios', $event)">
                <label for="ck-serv">Tipo de servicio</label>
              </div>
              <div class="checkbox" *ngFor="let op of servicios">
                <p-checkbox name="servicios" [value]="op" [label]="op" [(ngModel)]="selectedServicios"></p-checkbox>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <div class="form-group">
                <div>
                  <input id="ck-ubic" type="checkbox" class="toggleBox" (click)="seleccionarTodo('ubicacion', $event)">
                  <label for="ck-ubic">Ubicación</label>
                </div>
                <div class="checkbox" *ngFor="let op of ubicacion">
                  <p-checkbox name="ubicacion" [value]="op" [label]="op" [(ngModel)]="selectedUbicacion"></p-checkbox>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 columna3">
            <div class="form-group">
              <div>
                <label>Baños</label>
              </div>
              <div class="form-inline">
                <select class="form-control input-sm input-block" [(ngModel)]="selectedBanos">
                  <option value="0">Todos</option>
                  <option value="1">Entre 1 y 2</option>
                  <option value="2">Más de 3</option>
                </select>
              </div>
              <div class="form-group">
                <div>
                  <label>Habitaciones</label>
                </div>
                <div class="form-inline">
                  <select class="form-control input-sm input-block" [(ngModel)]="selectedHabitaciones">
                    <option value="0">Todos</option>
                    <option value="1">Entre 1 y 2</option>
                    <option value="2">Más de 3</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div>
                  <label>Rango de precios</label>
                </div>
                <div class="form-inline">
                  Entre
                  <input class="form-control input-sm input-precios" type="number" [(ngModel)]="selectedPrecios.de"> y
                  <input class="form-control input-sm input-precios" type="number" [(ngModel)]="selectedPrecios.a">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
