body {
  min-width: 600px;
}

.ui-dialog.ui-widget .ui-dialog-titlebar .ui-dialog-title {
  font-weight: bold;
  font-size: 20px !important;
}

.ui-dialog.ui-widget .ui-dialog-content.ui-widget-content {
  background-color: gainsboro;
}

.marginBottom10 {
  margin-bottom: 10px !important;
}
